body {
  text-align: center;
  margin: auto;
}

.book-store {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 80vw;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;

}

.form {
  display: flex;
  width: 70%;
  height: 40%;
  flex-direction: column;
  justify-content: space-evenly;
}

.form__title {
  align-self: flex-start;
}

.form__book-title, .form__author{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form__title-label, .form__author-label {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 2px;
  align-self: flex-start;

}

.form__title-input, .form__author-input {
  margin-bottom: 10px;
}

.form__submit {
  background-color: white;
  color:rgb(90, 86, 86);
  padding: 4px;
  border: 1px solid lightgray;
  
}

.line {
 color: rgb(218, 216, 216); 
 border-width: 1px; 
 width: 70%;
 margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: flex-start;
  overflow:auto;

   height: 60%; 
   width: 70%;
}



